:root {
  --mild: #fbbc0394;
  --cold: #673ab78c;
  --hot: #ee665a96;
  --border-width: 1px;
  --padding: 8px;
  --margin: 8px;
  --shadow-color: #eee;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f44336;
  letter-spacing: 4px;
  text-transform: capitalize;
  position: relative;
}
.cold {
  background: var(--cold);
}
.hot {
  background: var(--hot);
}
.mild {
  background: var(--mild);
}

input[type='text'] {
  font-size: 16px;
}
ul,
dl {
  margin: 0;
  padding: 0;
}
ul li,
dl dd,
dl dt {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search {
  margin: 24px auto;
  position: relative;
  display: flex;
  width: 300px;
  max-width: 200px;
  justify-content: center;
}
.dropDownList {
  position: absolute;
  top: 24px;
  background: #fff;
  width: 100%;
  padding: 4px;
  border: var(--border-width) solid var(--shadow-color);
  box-shadow: 1px 1px var(--shadow-color);
  z-index: 2;
}
.dropDownList li {
  text-align: left;
}
.dropDownList li:hover {
  background: cornflowerblue;
  cursor: pointer;
  color: #fff;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.card {
  margin: var(--margin);
  padding: var(--padding);
  flex-basis: calc(100% / 3 - (var(--padding) * 2) - (var(--margin) * 2));
  box-shadow: 2px 2px var(--shadow-color);
}
.cards dt {
  font-weight: 500;
}
.cards dd,
.cards dt {
  line-height: 1.5;
  text-transform: capitalize;
}
.close {
  width: inherit;
  position: relative;
}
.close::after {
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -4px;
  content: '\d7';
  display: block;
  z-index: 100000;
  font-size: 24px;
  line-height: 1;
  z-index: 1;
}
/* ==========================================================================
  Media Queries
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .card {
    flex-basis: calc(100% / 2 - var(--padding) * 2 - var(--margin) * 2);
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 16px;
  }
  .card {
    flex-basis: calc(100% - var(--padding) * 2 - var(--margin) * 2);
  }
}
